<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title> - Index</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">
    <nav id="navbar" class="navbar">
        <ul>
            {% if user.is_authenticated %}
            </li>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/services">Services</a></li>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            
           
            <li><a class="nav-link scrollto active" href="#">Hello! {{user.first_name}}</a></li>
            <li><a class="nav-link scrollto" href="/order"> Orders </a></li>
            <li><a class="nav-link scrollto" href="/contact">Contact Us</a></li>
            <li class="nav-item ">
              <a class="nav-link" href="/cart">Cart
                <span class="btn btn-outline-secondary">{{totalitem}}</span>
                <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li><i class="fa fa-search" aria-hidden="true"></i></li> -->
            <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
            <form method="POST" action="/"> {% csrf_token %}
                <input type="text" placeholder="Search" name="search">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            <nav class="navbar navbar-light bg-dark">
                <div class="container-fluid">
                </div>
            </nav>
            {% else %}
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/services">Services</a></li>
            <li><a class="nav-link scrollto" href="/signup">Register</a></li>
            <li><a class="nav-link scrollto" href="/login">Login</a></li>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
           
            <li><a class="nav-link scrollto" href="/contact">Contact Us</a></li>
             <li class="nav-item ">
          <a class="nav-link" href="/login"> <i class="bx bx-cart"></i>
            <span class="btn btn-outline-secondary">{{totalitem}}</span>
            <span class="sr-only">(current)</span></a>
        </li>
        &emsp;&emsp;&emsp;
        <form method="POST" action="/"> {% csrf_token %}
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
       
        <!-- <li><i class="fa fa-search" aria-hidden="true"></i></li> -->
            {% endif %}
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
</header>
</body>
<script src="/static/assets/vendor/purecounter/purecounter.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>
<script src="/static/assets/js/main.js"></script>
<script type='text/Javascript'>$(document).ready(function()
            {


            if($('.bbb_viewed_slider').length)
            {
            var viewedSlider = $('.bbb_viewed_slider');

            viewedSlider.owlCarousel(
            {
            loop:true,
            margin:30,
            autoplay:true,
            autoplayTimeout:6000,
            nav:false,
            dots:false,
            responsive:
            {
            0:{items:1},
            575:{items:2},
            768:{items:3},
            991:{items:4},
            1199:{items:4}
            }
            });
            }


            });
</script>
<script type='text/Javascript'>$(document).ready(function()
            {


            if($('.bbb_viewed1_slider').length)
            {
            var viewedSlider = $('.bbb_viewed1_slider');

            viewedSlider.owlCarousel(
            {
            loop:true,
            margin:30,
            autoplay:true,
            autoplayTimeout:6000,
            nav:false,
            dots:false,
            responsive:
            {
            0:{items:1},
            575:{items:2},
            768:{items:3},
            991:{items:4},
            1199:{items:1}
            }
            });
            }


            });
</script>
<script>
function myFunction() {
  alert("Your response has been saved . Admin will resolve your queries soon .");
}
</script>
</html>