{% extends "layout/base.html" %}
{% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Service Details</h2>
                <ol>
                    <li>Service Details</li>
                </ol>
            </div>
        </div>
    </section>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                {% for i in product1 %}
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img  class="rounded-circle" src="../../media/{{i.pimage}}" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>{{i.pheading}}</h3>
                        <ul>
                            <li><strong>Category</strong>: {{i.pcategory}}</li>
                            <li><strong>Client</strong>: {{i.pclient}}</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <p>
                            {{i.pdescription}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}