{% extends "layout/base.html" %}
{% block content%}
<main id="main">
    <div class="hero-container">
        <section id="hero" class="service1">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="row icon-boxes">
          {% for service20 in serv100 %}
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-7 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <a href="{% url 'portfolio' service20.id %}">
            <img  src="media/{{service20.serviceimage}}" class="img-fluid"  alt=""></a>
              <br><br>
            <h4 class="title">{{ service20.serviceheading }}</h4>
          
          </div>
        </div>
          {% endfor %}
            </div>
    </div>
  </section>
    </div>
</main>
{% endblock %}